*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top{
    padding: 20px;
    width: 100%;
   
}

.top_lift_1{
    float: left;
    padding: 6px;
}

.top_lift_2{
    float: left;
    padding: 6px;
}

.top_right{
    float: right;
    padding: 6px;
   
}

.top_right1{
    float: left;
    padding: 6px;;
}

.top_right2{
    float: left;
    position: relative;
    bottom: 4px; 
}



.middle_t{
    width: 100%;
    height: 200px;
    
}

.middle_top{
    width: 100%;
    height: 150px;
    
}

.middle_top > img{
    position: absolute;
    left: 40% 
    
}


.middle_mi{
    padding: 10px;
    width: 100%;
    height: 55px;
    

}

.box{
    border: 1px solid gray;
    border-radius: 20px;
    width: 32%;
    height: 40px;
    position: absolute;
    left: 32%
}

.box > i{
    padding: 6px;
    position: absolute;
    left: 8px;
}


.box > i2{
    float: right;
    padding: 6px;
    position: absolute;
    right: 35px;
}

input{
    
    width: 450px;
    height: 25px;
    float: left;
    position: absolute;
    top: 6px; left: 60px;
    border: none;
}


.box > i3{
    float: right;
    padding: 6px;
    position: absolute;
    right: 8px;
}

.middle_bottom{
    padding: 10px;
    width: 100%;
    height: 55px;
    
    
}

.middle_b_1{
    border: 1px solid gray;
    border-radius: 10px;
    height: 40px;
    padding: 6px;
    position: absolute;
    left: 40%;
    box-shadow: 5px 5px 5px gray;
    background-color: rgb(255, 251, 251);
}

.middle_b_2{
    border: 1px solid gray;
    border-radius: 10px;
    height: 40px;
    padding: 6px;
    position:absolute;
    left: 48%;
    box-shadow: 5px 5px 5px gray;
    background-color: rgb(255, 251, 251);
    
}





.middle_b{
    width: 100%;
    height: 370px;
    
}

.bottom_top{
    width: 100%;
    height: 50px;
    background-color: rgb(239, 245, 239);
    float: left;
    padding: 15px;
}

.bottom_bo{
    width: 100%;
    height: 50px;
    background-color: rgb(239, 245, 239);
    float: left;
    padding: 15px;
    border: 0.1px solid gray;
}

.bottom_1{
    float: left;
    padding: 6px;
}

.bottom_2{
    float: right;
    padding: 6px;
}


a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
    background-color: rgb(223, 217, 220);
}

@media screen and (max-width: 767px) {

.middle{
    flex-direction: column;
    align-items: center;
    width: 100;
}
    
    .middle_b_1{
        border: 1px solid gray;
        border-radius: 10px;
            height: 25px;
        padding: 6px;
       float: left;
       width: 100%!important;
       position: relative;
       left: 0;
        box-shadow: 5px 5px 5px gray;
        background-color: rgb(248, 242, 242);
    }
    
    .middle_b_2{
        border: 1px solid gray;
        border-radius: 10px;
            height: 25px;
        padding: 6px;
        float: left;
        width: 100%!important;
        position: relative;
        left: 0;
        box-shadow: 5px 5px 5px gray;
        background-color: rgb(248, 242, 242);
        
    }
    

}